header {
    display: flex;
    justify-content: space-between;
    width: 900px;
    /* 960pxがオススメらしい */
    height: 100px;
    margin: auto;
}
#wrap {
    background-color: #ffffff;
}

.article {
    width: 900px;
    margin: auto;
}

.name a {
    font-size:  50px;
    font-family: 'Lobster', cursive;
}

.name a:hover {
    text-decoration: none;
}

.global-nav {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50PX;
}

.global-nav li {
    margin: 0 10px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    list-style: none;
}

.global-nav li a {
    font-family: 'Righteous', cursive;
    color: #ffffff
}

footer {
    width: 900px;
    margin: auto;
}

.btn a { 
    display: block;
    text-decoration: none;
    background-color: #e95935a9;
    color: #ffffff;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    line-height: 70px;
    width: 200px;
    border: 2px solid #e95935a9;
    border-radius: 10px;
} 

.btn a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #e95935a9;
}

.site-now {
    color: black;
    border: 4px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: #ffffff;
}

#about,#contact,#works {
    font-size: 18px;
    background-color: rgb(75, 46, 46);
    color: black;
    background-image: url(../images/WvaIpZ9u.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: top center;
}

footer small {
    color: #ffffff;
    font-size: 12px;
}

#about #wrap, #contact #wrap, #works #wrap {
    padding: 35px 0 0;
    min-width: 900px;
    color: black;
}

.main h1 {
    border-bottom: 5px solid #e95935a9;
}

.main h2 {
    margin-top: 20px;
    border-bottom: 2px dotted #e95935a9;
}