@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #ffffff;
    font-size: 15px;
    line-height: 2;
}

img {
    vertical-align: bottm;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* ここまで初期設定（余白消しなど） */

header {
    width: 900px;
    /* 960pxがオススメらしい */
    height: 100px;
    margin: auto;
}
.article {
    width: 900px;
    margin: auto;
}

.name {
    font-size:  50px;
    float: left;
    font-family: 'Lobster', cursive;
}

.global-nav {
    margin-top: 50PX;
    float: right;
}

.global-nav li {
    margin: 0 10px;
    font-size: 20px;
    float: left;
    list-style: none;
}

.global-nav li a {
    font-family: 'Righteous', cursive;
    color: #ffffff
}

footer {
    width: 900px;
    margin: auto;
}

footer small {
    font-size: 12px;
}

.btn a { 
    display: block;
    text-decoration: none;
    background-color: #e95935a9;
    color: #ffffff;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    line-height: 70px;
    width: 200px;
    border: 2px solid #e95935a9;
    border-radius: 10px;
} 

.btn a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #e95935a9
}
/* ここまで共通のCSS */

#index {
    background: linear-gradient(
        -45deg,rgba(0, 0, 0, 0.4) 25%,rgba(0, 0, 0, 0.5) 25%,
        rgba(0, 0, 0, 0.5) 50%,rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.4) 75%,rgba(0, 0, 0, 0.5) 75%,
        rgba(0, 0, 0, 0.5)),url(../images/BX2Il6nN.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#index .article {
    text-align: center;
}

#index .article h1 {
    font-size: 100px;
    font-family: 'Righteous', cursive;
    width:  900px;
}
#index .article p {
    font-size: 18px;
}

#index .btn a {
    margin: 150px auto;
}

#index footer small {
    float: right;
}
/* ここまでindexのCSS */