#index {
    background: linear-gradient(
        -45deg,rgba(0, 0, 0, 0.4) 25%,rgba(0, 0, 0, 0.5) 25%,
        rgba(0, 0, 0, 0.5) 50%,rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.4) 75%,rgba(0, 0, 0, 0.5) 75%,
        rgba(0, 0, 0, 0.5)),url(../images/BX2Il6nN.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#index #wrap {
    background-color: #aaaaaa00;
}

#index .article {
    text-align: center;
}

#index .article h1 {
    font-size: 100px;
    font-family: 'Righteous', cursive;
    width:  900px;
}
#index .article p {
    font-size: 18px;
}

#index .btn a {
    margin: 150px auto;
}

#index footer small {
    float: right;
}
/* ここまでindexのCSS */

#about .profile-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about .profile-area p {
    width: 600px;
}

#about .profile-area img {
    width: 250px;
    height: 180px;
}