#index {
  background: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4) 80px,
      rgba(0, 0, 0, 0.5) 80px,
      rgba(0, 0, 0, 0.5) 160px
    ),
    url(../images/home_image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#index header {
  height: 100px;
}
#index ul {
  margin-top: 50px;
}

#index main {
  background-color: transparent;
}

#index main {
  text-align: center;
}

#index main h1 {
  margin: auto;
  font-size: 100px;
  width: 900px;
  border: none;
}
#index main p {
  font-size: 18px;
}

#index .btn a {
  margin: 150px auto;
}

#index footer small {
  float: right;
}
/* ここまでindexのCSS */

#about .profile-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about #profile_image {
  width: 250px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  filter: drop-shadow(0 0 10px gray);
}

#about .text {
  width: 600px;
}
