body {
    background-color: hsl(216, 19%, 88%);
    margin: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.table {
    color: hsl(130, 17%, 28%);
    width:450px;
    height:400px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}